extends ../layouts/common

block content
	.container
		if errors
			each error in errors
				.alert.alert-danger #{error}
		.fs-3.mb-4 Post truyen
		form.form__post.d-flex.flex-column(action='/truyen/post', method='POST')
			label(for='name-post') Name
			input#name-post.form-control(type='text', name='name' value = value ? value.name : "")
			label(for='img-post') Link anh
			input#img-post.form-control(type='text', name='img' value = value ? value.img : "")
			label(for='tacgia-post') Tac gia
			input#tacgia-post.form-control(type='text', name='tacgia' value = value ? value.tacgia : "")
			label(for='trangthai-post') Trang thai
			input#trangthai-post.form-control(type='text', name='trangthai' value = value ? value.trangthai : "")
			label(for='link-post') Link
			input#link-post.form-control(type='text', name='link' value = value ? value.link : "")
			label(for='chap-post') Chap doc
			input#chap-post.form-control(type='number', name='chap' value = value ? value.chap : "")
			button.btn.btn-primary Post