extends ../layouts/common

block content
	.container.text-center
		h4= truyens.name
			p
				a(href= truyens.link, target='_blank') Link truyen
			form.form__post.d-flex.flex-column(action='/truyen/plushchap/'+ truyens.id, method='POST')
				input.text-center(type='text', readonly,name='chap', value = truyens.chap) 
				button.btn.btn-primary Plus
			form.form__post.d-flex.flex-column(action='/truyen/del/'+ truyens.id, method='POST')
				button.btn.btn-danger Xoa
